@use "../abstracts/" as *;

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

body {
  background-color: hsl($body-background-color);
  color: hsl($body-text-color);
  font-size: $body-font-size;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  min-height: 100svh;
}

a {
  color: hsl($link-color);
  transition: color 0.2s ease-in-out;

  &:is(:hover, :focus) {
    color: hsl($link-color-hover);
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
