// black and white
$_clr-white: 0 0% 98%; // #FAFAFA
$_clr-black: 0 0% 3.9%; // #0A0A0A

// pure neutral
$_clr-neutral-50: $_clr-white; // #FAFAFA
$_clr-neutral-100: 0 0% 96.1%; // #F5F5F5
$_clr-neutral-200: 0 0% 89.8%; // #E5E5E5
$_clr-neutral-300: 0 0% 83.1%; // #D4D4D4
$_clr-neutral-400: 0 0% 63.9%; // #A3A3A3
$_clr-neutral-500: 0 0% 45.1%; // #737373
$_clr-neutral-600: 0 0% 32.2%; // #525252
$_clr-neutral-700: 0 0% 25.1%; // #404040
$_clr-neutral-800: 0 0% 14.9%; // #262626
$_clr-neutral-900: 0 0% 9%; // #171717
$_clr-neutral-950: $_clr-black; // #0A0A0A

// grays
$_clr-slate-50: 210 40% 98%; // #F8FAFC
$_clr-slate-100: 210 40% 96.1%; // #F1F5F9
$_clr-slate-200: 214.29999999999995 31.8% 91.4%; // #E2E8F0
$_clr-slate-300: 212.70000000000005 26.8% 83.9%; // #CBD5E1
$_clr-slate-400: 215 20.2% 65.1%; // #94A3B8
$_clr-slate-500: 215.39999999999998 16.3% 46.9%; // #64748B
$_clr-slate-600: 215.29999999999995 19.3% 34.5%; // #475569
$_clr-slate-700: 215.29999999999995 25% 26.7%; // #334155
$_clr-slate-800: 217.20000000000005 32.6% 17.5%; // #1E293B
$_clr-slate-900: 222.20000000000005 47.4% 11.2%; // #0F172A
$_clr-slate-950: 228.60000000000002 84% 4.9%; // #020617

$_clr-gray-50: 210 20% 98%; // #F9FAFB
$_clr-gray-100: 220 14.3% 95.9%; // #F3F4F6
$_clr-gray-200: 220 14.3% 95.9%; // #E5E7EB
$_clr-gray-300: 220 14.3% 95.9%; // #D1D5DB
$_clr-gray-400: 220 14.3% 95.9%; // #9CA3AF
$_clr-gray-500: 220 14.3% 95.9%; // #6B7280
$_clr-gray-600: 220 14.3% 95.9%; // #4B5563
$_clr-gray-700: 220 14.3% 95.9%; // #374151
$_clr-gray-800: 220 14.3% 95.9%; // #1F2937
$_clr-gray-900: 220 14.3% 95.9%; // #111827
$_clr-gray-950: 220 14.3% 95.9%; // #030712

$_clr-zinc-50: $_clr-white; // #FAFAFA
$_clr-zinc-100: 240 4.8% 95.9%; // #F4F4F5
$_clr-zinc-200: 240 5.9% 90%; // #E4E4E7
$_clr-zinc-300: 240 4.9% 83.9%; // #D4D4D8
$_clr-zinc-400: 240 5% 64.9%; // #A1A1AA
$_clr-zinc-500: 240 3.8% 46.1%; // #71717A
$_clr-zinc-600: 240 5.2% 33.9%; // #52525B
$_clr-zinc-700: 240 5.3% 26.1%; // #3F3F46
$_clr-zinc-800: 240 3.7% 15.9%; // #27272A
$_clr-zinc-900: 240 5.9% 10%; // #18181B
$_clr-zinc-950: 240 10% 3.9%; // #09090B

$_clr-stone-50: 60, 9.1%, 97.8%; // #FAFAF9
$_clr-stone-100: 60, 4.8%, 95.9%; // #F5F5F4
$_clr-stone-200: 20, 5.9%, 90%; // #E7E5E4
$_clr-stone-300: 24, 5.7%, 82.9%; // #D6D3D1
$_clr-stone-400: 24, 5.4%, 63.9%; // #A8A29E
$_clr-stone-500: 25, 5.3%, 44.7%; // #78716C
$_clr-stone-600: 33.30000000000001, 5.5%, 32.4%; // #57534E
$_clr-stone-700: 30, 6.3%, 25.1%; // #44403C
$_clr-stone-800: 12, 6.5%, 15.1%; // #292524
$_clr-stone-900: 24, 9.8%, 10%; // #1C1917
$_clr-stone-950: 20, 14.3%, 4.1%; // #0C0A09

// true colors
$_clr-orange-300: 8 75% 60%;
$_clr-orange-400: 8 62% 55%;
$_clr-orange-500: 8 62% 35%;

$_clr-rose-50: 355.70000000000005 100% 97.3%; // #FFF1F2
$_clr-rose-100: 355.6 100% 94.7%; // #FFE4E6
$_clr-rose-200: 352.70000000000005 96.1% 90%; // #FECDD3
$_clr-rose-300: 352.6 95.7% 81.8%; // #FDA4AF
$_clr-rose-400: 351.29999999999995 94.5% 71.4%; // #FB7185
$_clr-rose-500: 349.70000000000005 89.2% 60.2%; // #F43F5E
$_clr-rose-600: 346.79999999999995 77.2% 49.8%; // #E11D48
$_clr-rose-700: 345.29999999999995 82.7% 40.8%; // #BE123C
$_clr-rose-800: 343.4 79.7% 34.7%; // #9F1239
$_clr-rose-900: 341.5 75.5% 30.4%; // #881337
$_clr-rose-950: 343.1 87.7% 15.9%; //#4C0519

$_clr-brown-100: 33 24% 92%;
$_clr-brown-200: 33 24% 88%;
$_clr-brown-300: 33 23% 69%;
$_clr-brown-400: 22 31% 44%;
$_clr-brown-700: 20 23% 23%;
$_clr-brown-800: 18 23% 10%;
$_clr-brown-900: 18 23% 7%;

// gray maps
$_slate: (
  "50": $_clr-slate-50,
  "100": $_clr-slate-100,
  "200": $_clr-slate-200,
  "300": $_clr-slate-300,
  "400": $_clr-slate-400,
  "500": $_clr-slate-500,
  "600": $_clr-slate-600,
  "700": $_clr-slate-700,
  "800": $_clr-slate-800,
  "900": $_clr-slate-900,
  "950": $_clr-slate-950,
);

$_gray: (
  "50": $_clr-gray-50,
  "100": $_clr-gray-100,
  "200": $_clr-gray-200,
  "300": $_clr-gray-300,
  "400": $_clr-gray-400,
  "500": $_clr-gray-500,
  "600": $_clr-gray-600,
  "700": $_clr-gray-700,
  "800": $_clr-gray-800,
  "900": $_clr-gray-900,
  "950": $_clr-gray-950,
);

$_zinc: (
  "50": $_clr-zinc-50,
  "100": $_clr-zinc-100,
  "200": $_clr-zinc-200,
  "300": $_clr-zinc-300,
  "400": $_clr-zinc-400,
  "500": $_clr-zinc-500,
  "600": $_clr-zinc-600,
  "700": $_clr-zinc-700,
  "800": $_clr-zinc-800,
  "900": $_clr-zinc-900,
  "950": $_clr-zinc-950,
);

$_stone: (
  "50": $_clr-stone-50,
  "100": $_clr-stone-100,
  "200": $_clr-stone-200,
  "300": $_clr-stone-300,
  "400": $_clr-stone-400,
  "500": $_clr-stone-500,
  "600": $_clr-stone-600,
  "700": $_clr-stone-700,
  "800": $_clr-stone-800,
  "900": $_clr-stone-900,
  "950": $_clr-stone-950,
);

$_stone-dark: (
  "50": $_clr-stone-950,
  "100": $_clr-stone-900,
  "200": $_clr-stone-800,
  "300": $_clr-stone-700,
  "400": $_clr-stone-600,
  "500": $_clr-stone-500,
  "600": $_clr-stone-400,
  "700": $_clr-stone-300,
  "800": $_clr-stone-200,
  "900": $_clr-stone-100,
  "950": $_clr-stone-50,
);

$light: (
  "neutral": (
    "50": $_clr-neutral-50,
    "100": $_clr-neutral-100,
    "200": $_clr-neutral-200,
    "300": $_clr-neutral-300,
    "400": $_clr-neutral-400,
    "500": $_clr-neutral-500,
    "600": $_clr-neutral-600,
    "700": $_clr-neutral-700,
    "800": $_clr-neutral-800,
    "900": $_clr-neutral-900,
    "950": $_clr-neutral-950,
  ),
  "gray": $_stone,
  "accent": (
    "300": $_clr-orange-300,
    "400": $_clr-orange-400,
    "500": $_clr-orange-500,
  ),
  "primary": (
    "50": $_clr-rose-50,
    "100": $_clr-rose-100,
    "200": $_clr-rose-200,
    "300": $_clr-rose-300,
    "400": $_clr-rose-400,
    "500": $_clr-rose-500,
    "600": $_clr-rose-600,
    "700": $_clr-rose-700,
    "800": $_clr-rose-800,
    "900": $_clr-rose-900,
    "950": $_clr-rose-950,
  ),
  "secondary": (
    "100": $_clr-brown-100,
    "200": $_clr-brown-200,
    "300": $_clr-brown-300,
    "400": $_clr-brown-400,
    "500": $_clr-brown-400,
    "700": $_clr-brown-700,
    "800": $_clr-brown-800,
  ),
  "terciary": (
    "100": $_clr-brown-100,
    "200": $_clr-brown-200,
    "300": $_clr-brown-300,
    "400": $_clr-brown-400,
    "700": $_clr-brown-700,
    "800": $_clr-brown-800,
  ),
);

$dark: (
  "neutral": (
    "50": $_clr-neutral-950,
    "100": $_clr-neutral-900,
    "200": $_clr-neutral-800,
    "300": $_clr-neutral-700,
    "400": $_clr-neutral-600,
    "500": $_clr-neutral-500,
    "600": $_clr-neutral-400,
    "700": $_clr-neutral-300,
    "800": $_clr-neutral-200,
    "900": $_clr-neutral-100,
    "950": $_clr-neutral-50,
  ),
  "gray": $_stone-dark,
  "accent": (
    "300": $_clr-orange-300,
    "400": $_clr-orange-400,
    "500": $_clr-orange-500,
  ),
  "primary": (
    "50": $_clr-rose-950,
    "100": $_clr-rose-900,
    "200": $_clr-rose-800,
    "300": $_clr-rose-700,
    "400": $_clr-rose-600,
    "500": $_clr-rose-500,
    "600": $_clr-rose-400,
    "700": $_clr-rose-300,
    "800": $_clr-rose-200,
    "900": $_clr-rose-100,
    "950": $_clr-rose-50,
  ),
  "secondary": (
    "100": $_clr-brown-100,
    "200": $_clr-brown-200,
    "300": $_clr-brown-300,
    "400": $_clr-brown-400,
    "500": $_clr-brown-400,
    "700": $_clr-brown-700,
    "800": $_clr-brown-800,
  ),
  "terciary": (
    "100": $_clr-brown-100,
    "200": $_clr-brown-200,
    "300": $_clr-brown-300,
    "400": $_clr-brown-400,
    "700": $_clr-brown-700,
    "800": $_clr-brown-800,
  ),
);

// contextual color tokens
$color-neutral-50: var(--neutral-50);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-950: var(--neutral-950);

$color-gray-50: var(--gray-50);
$color-gray-100: var(--gray-100);
$color-gray-200: var(--gray-200);
$color-gray-300: var(--gray-300);
$color-gray-400: var(--gray-400);
$color-gray-500: var(--gray-500);
$color-gray-600: var(--gray-600);
$color-gray-700: var(--gray-700);
$color-gray-800: var(--gray-800);
$color-gray-900: var(--gray-900);
$color-gray-950: var(--gray-950);

$color-accent-300: var(--accent-300);
$color-accent-400: var(--accent-400);
$color-accent-500: var(--accent-500);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-300: var(--primary-300);
$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-400);
$color-primary-700: var(--primary-700);
$color-primary-800: var(--primary-800);

$color-secondary-100: var(--secondary-100);
$color-secondary-200: var(--secondary-200);
$color-secondary-300: var(--secondary-300);
$color-secondary-400: var(--secondary-400);
$color-secondary-500: var(--secondary-400);
$color-secondary-700: var(--secondary-700);
$color-secondary-800: var(--secondary-800);

$color-terciary-100: var(--terciary-100);
$color-terciary-200: var(--terciary-200);
$color-terciary-300: var(--terciary-300);
$color-terciary-400: var(--terciary-400);
$color-terciary-500: var(--terciary-400);
$color-terciary-700: var(--terciary-700);
$color-terciary-800: var(--terciary-800);
