@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;

// * contextual
$color-text-default: $color-neutral-900;
$color-background-default: $color-neutral-100;
$color-text-interactive-default: $color-neutral-100;
$color-text-interactive-hover: $color-accent-300;

$letter-spacing-tighter: -0.05em;
$letter-spacing-tight: -0.025em;
$letter-spacing-normal: normal;
$letter-spacing-wide: 0.025em;
$letter-spacing-wider: 0.05em;
$letter-spacing-widest: 0.1em;

$border-radius-small: $size-2;
$border-radius-medium: $size-4;
$border-radius-full: 100vmax;

$box-shadow-1: 0 $size-4 $size-8 rgb(0 0 0 / 0.25);
$box-shadow-2: 0 $size-2 $size-4 rgb(0 0 0 / 0.25);
$box-shadow-3: 0 $size-4 $size-8 rgb(0 0 0 / 0.15);
$box-shadow-4: 0 $size-2 $size-4 rgb(0 0 0 / 0.15);
$box-shadow-5: $size-2 $size-4 $size-8 rgb(0 0 0 / 0.25);

$linear-gradient-primary: linear-gradient(
  to right bottom,
  hsl($color-primary-400),
  hsl($color-primary-700)
);

$linear-gradient-secondary: linear-gradient(
  to right bottom,
  hsl($color-secondary-400),
  hsl($color-secondary-500)
);

// * logo
$logo-fill-default: $color-primary-400;
$logo-fill-header: $color-primary-300;
$logo-fill-footer: $color-accent-400;
$logo-size-default: 15rem;
$logo-size-header: $logo-size-default;
$logo-size-footer: $logo-size-default;

// * body
$body-font-family: $font-family-base;
$body-font-size: $text-base;
$body-line-height: $ratio;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $body-text-color;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-wide;
$heading-line-height: 1;
$heading-text-transform: uppercase;

// * layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(3rem, 10vh, 7rem);
$card-body-padding: $size-8;

$container-gutters: $size-4;
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

// * site header
$site-header-background-color: $color-primary-800;
$site-header-text-color: $color-neutral-100;
$site-header-padding-block: $size-8;
$site-header-margin: 0;
$site-header-justification-large-screens: space-between;
$site-header-justification-small-screens: center;
$site-header-alignment: center;

// * navigation
$navigation-text-color: $site-header-text-color;
$navigation-text-color-hover: $color-accent-300;
$navigation-font-family: $font-family-accent;
$navigation-font-size: $text-base;
$navigation-font-weight: $font-weight-bold;
$navigation-letter-spacing: $letter-spacing-wide;
$navigation-gap: $size-10;

// * buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size;
$button-font-weight: $font-weight-bold;
$button-text-transform: none;
$button-padding-default: 0.75em 2em;
$button-border-width: 0;
$button-border-style: solid;
$button-border-color: $color-neutral-900;
$button-border: $button-border-width $button-border-style
  hsl($button-border-color);
$button-border-radius: $border-radius-small;

$button-box-shadow-offset-y: 0.2em;
$button-box-shadow: 0px $button-box-shadow-offset-y 0px
  hsl($button-border-color);

$button-accent-color: $color-neutral-100;
$button-accent-background: $color-accent-400;
$button-accent-color-hover: $color-neutral-100;
$button-accent-background-hover: $color-accent-500;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-700;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background-hover: $color-primary-800;

// * cards
$card-flow-spacing: $size-2;
$card-body-padding: $size-8;
$card-background-default: $color-primary-100;
$card-text-color-default: $body-text-color;
$card-font-family: $body-font-family;
$card-line-height: 1.25;
$card-heading-color-default: $card-text-color-default;
$card-heading-font-size: $text-2xl;
$card-border-radius: $border-radius-medium;
$card-box-shadow: $box-shadow-1;

// * forms
$form-label-color: $body-text-color;
$form-label-font-family: $body-font-family;
$form-label-font-weight: $font-weight-bold;
$form-label-font-size: $body-font-size;

$form-input-color: $body-text-color;
$form-input-font-family: $body-font-family;
$form-input-font-weight: $font-weight-semi-bold;
$form-input-font-size: $body-font-size;
$form-input-background-color: $color-neutral-100;
$form-input-border-default: 3px solid hsl($color-primary-300);
$form-input-border-focus: 3px solid hsl($color-primary-400);
$form-input-padding: $size-3;
$form-input-border-radius: $border-radius-small;

$form-placeholder-color: $color-primary-300;
$form-placeholder-font-family: $form-input-font-family;
$form-placeholder-font-weight: $form-input-font-weight;
$form-placeholder-font-size: $body-font-size;
