$_ff-sans: "Source Sans Pro", sans-serif;
$_ff-serif: "Alegreya SC", serif;

$font-family-base: $_ff-sans;
$font-family-accent: $_ff-serif;

$font-sizes: (
  "small": (
    "9xl": 8rem,
    "8xl": 6rem,
    "7xl": 4.5rem,
    "6xl": 3.75rem,
    "5xl": 3rem,
    "4xl": 2.25rem,
    "3xl": 1.875rem,
    "2xl": 1.5rem,
    "xl": 1.25rem,
    "lg": 1.125rem,
    "base": 1rem,
    "sm": 0.875rem,
    "xs": 0.75rem,
  ),
  "large": (
    "9xl": 8rem,
    "8xl": 6rem,
    "7xl": 4.5rem,
    "6xl": 3.75rem,
    "5xl": 3rem,
    "4xl": 2.25rem,
    "3xl": 1.875rem,
    "2xl": 1.5rem,
    "xl": 1.25rem,
    "lg": 1.125rem,
    "base": 1rem,
    "sm": 0.875rem,
    "xs": 0.75rem,
  ),
);

$line-heights: (
  "9xl": 1,
  "8xl": 1,
  "7xl": 1,
  "6xl": 1,
  "5xl": 1,
  "4xl": 2.5rem,
  "3xl": 2.25rem,
  "2xl": 2rem,
  "xl": 1.75rem,
  "lg": 1.75rem,
  "base": 1.5rem,
  "sm": 1.25rem,
  "xs": 1rem,
);

// ! IMPORTANT: a new font-size variable must be declared each time
// ! a new size is added to the `$font-sizes` map
$text-xs: var(--text-xs);
$text-sm: var(--text-sm);
$text-base: var(--text-base);
$text-lg: var(--text-lg);
$text-xl: var(--text-xl);
$text-2xl: var(--text-2xl);
$text-3xl: var(--text-3xl);
$text-4xl: var(--text-4xl);
$text-5xl: var(--text-5xl);
$text-6xl: var(--text-6xl);
$text-7xl: var(--text-7xl);
$text-8xl: var(--text-8xl);
$text-9xl: var(--text-9xl);

// Font weights
$_fw-400: 400;
$_fw-500: 500;
$_fw-600: 600;
$_fw-700: 700;

$font-weight-default: $_fw-400;
$font-weight-semi-bold: $_fw-500;
$font-weight-bold: $_fw-700;
