@use "../abstracts" as *;

.section {
  padding-block: $section-padding-block;
}

.mx-auto {
  margin-inline: auto;
}

.sm\:mx-0 {
  @include mq(small) {
    margin-inline: 0;
  }
}

.md\:mx-0 {
  @include mq(medium) {
    margin-inline: 0;
  }
}

.lg\:mx-0 {
  @include mq(large) {
    margin-inline: 0;
  }
}

.measure {
  max-inline-size: 65ch;
}

// MODULAR SCALE
@each $size-name, $size-value in $modular-scale {
  .gap {
    &-#{$size-name} {
      gap: $size-value;
    }
  }

  .m {
    &-#{$size-name} {
      margin: $size-value;
    }

    // top
    &t-#{$size-name} {
      margin-block-start: $size-value;
    }

    // bottom
    &b-#{$size-name} {
      margin-block-end: $size-value;
    }

    // top and bottom
    &y-#{$size-name} {
      margin-block: $size-value;
    }

    // left
    &l-#{$size-name} {
      margin-inline-start: $size-value;
    }

    // right
    &r-#{$size-name} {
      margin-inline-end: $size-value;
    }

    // left and right
    &x-#{$size-name} {
      margin-inline: $size-value;
    }
  }

  .p {
    &-#{$size-name} {
      padding: $size-value;
    }

    // top
    &t-#{$size-name} {
      padding-block-end: $size-value;
    }

    // bottom
    &b-#{$size-name} {
      padding-block-end: $size-value;
    }

    // top and bottom
    &y-#{$size-name} {
      padding-block: $size-value;
    }

    // left
    &l-#{$size-name} {
      padding-inline-start: $size-value;
    }

    // right
    &r-#{$size-name} {
      padding-inline-end: $size-value;
    }

    // left and right
    &x-#{$size-name} {
      padding-inline: $size-value;
    }
  }
}

// SPACING
@each $size-name, $size-value in $sizes {
  .gap {
    &-#{$size-name} {
      gap: $size-value;
    }
  }

  .m {
    &-#{$size-name} {
      margin: $size-value;
    }

    // top
    &t-#{$size-name} {
      margin-block-start: $size-value;
    }

    // bottom
    &b-#{$size-name} {
      margin-block-end: $size-value;
    }

    // top and bottom
    &y-#{$size-name} {
      margin-block: $size-value;
    }

    // left
    &l-#{$size-name} {
      margin-inline-start: $size-value;
    }

    // right
    &r-#{$size-name} {
      margin-inline-end: $size-value;
    }

    // left and right
    &x-#{$size-name} {
      margin-inline: $size-value;
    }
  }

  .p {
    &-#{$size-name} {
      padding: $size-value;
    }

    // top
    &t-#{$size-name} {
      padding-block-end: $size-value;
    }

    // bottom
    &b-#{$size-name} {
      padding-block-end: $size-value;
    }

    // top and bottom
    &y-#{$size-name} {
      padding-block: $size-value;
    }

    // left
    &l-#{$size-name} {
      padding-inline-start: $size-value;
    }

    // right
    &r-#{$size-name} {
      padding-inline-end: $size-value;
    }

    // left and right
    &x-#{$size-name} {
      padding-inline: $size-value;
    }
  }

  .space-y-#{$size-name} > * + * {
    margin-block-start: $size-value;
  }
}
