@use "../abstracts/" as *;

.btn {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  padding: 0.62em 1em;
  font-weight: $fw-600;
  border-radius: var(--radius);
  overflow: hidden;
  transition:
    transform 120ms ease,
    box-shadow 120ms ease,
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &[data-type="primary"] {
    border: var(--border-width) solid clr(neutral, 900);
    background-color: clr(primary, 500);
    color: clr(neutral, 100);
    box-shadow: 0px var(--offset-y) 0px clr(neutral, 900);

    &:active {
      box-shadow: none !important;
      transform: translateY(var(--offset-y));
    }

    &:is(:hover, :focus) {
      background: clr(primary, 600);
    }
  }

  &[data-type="outline"] {
    border: var(--border-width) solid clr(neutral, 900);
    background: transparent;
    color: clr(neutral, 900);
    box-shadow: 0px var(--offset-y) 0px clr(neutral, 900);

    &:active {
      box-shadow: none !important;
      transform: translateY(var(--offset-y));
    }

    &:is(:hover, :focus) {
      background: clr(neutral, 200);
    }
  }

  &:focus-visible {
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow);
  }
}
