@use "../abstracts/" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  text-transform: $button-text-transform;
  padding: $button-padding-default;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  border-radius: $button-border-radius;
  overflow: hidden;
  transition:
    transform 120ms ease,
    box-shadow 120ms ease,
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &[data-type="primary"] {
    border: $button-border;
    background-color: $button-primary-background;
    color: $button-primary-color;
    //box-shadow: 0px var(--offset-y) 0px clr(neutral, 900);

    // &:active {
    //   box-shadow: none !important;
    //   transform: translateY(var(--offset-y));
    // }

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="accent"] {
    border: $button-border;
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="outline"] {
    border: $button-border;
    background: transparent;
    color: $button-outline-color;

    &:is(:hover, :focus) {
      background-color: $button-outline-background-hover;
      color: $button-outline-color-hover;
    }
  }

  &:focus-visible {
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow);
  }
}
